@model OCMDomain.Repository.Edmx.ResetPasswordValidation
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Areas/Public/Views/Shared/_PublicLayout.cshtml";
}
<script src="~/public/js/jquery.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/js/toastr.js"></script>
@if (TempData["response"] != null)
{
    <script>
    $(document).ready(function () {
        var success = '@((TempData["response"] != null).ToString())';
        if (success == 'false' || success == false) {
        } else {
            toastr.info('@TempData["response"].ToString()')
        }
    });
    </script>
}
<section class="vh-100" style="background-color: #C4D0E9">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" style="margin:30px">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Reset Password</h3>
                        @if (TempData["response"] != null)
                        {
                            <div class="alert-danger" id="msgalert">
                                @TempData["response"].ToString()
                            </div>
                        }
                        <form asp-action="ResetPassword" method="post">
                            <div class="form-group">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg", placeholder = "New Password*" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger db" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-control-lg", placeholder = "Confirm New Password*" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger db" })
                            </div>
                            <div class="mt-3">
                                @*@Html.HiddenFor(model => model.Tokken)
                                    @Html.HiddenFor(model => model.Email)*@
                                <input type="hidden" asp-for="model => model.Tokken" class="form-control" />
                                <input type="hidden" asp-for="model => model.Email" class="form-control" />
                                <button type="submit" class="btn btn-primary btn-sm form-control"> Submit </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>