@model OCMDomain.Repository.Edmx.FaqValidation
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Js Stylesheet -->
    <script src="~/public/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>

    <title>FAQs</title>
    <style>
        body {
            background-color: lightcyan;
        }

        .container {
            margin-top: 40px;
            background-color: white;
        }

        .form-row {
            margin-top: 20px;
        }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #337AB7;
            border-color: #337AB7;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        button {
            margin: 20px;
        }

        .card {
            border: none;
        }

        .Fee {
            margin-top: 25px;
            padding: 25px;
            display: none;
            color: #fff;
            border: 1px solid grey;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3 style="margin-left: 30px; margin-top: 10px;">FAQ's</h3>
        @using (Html.BeginForm(Html.BeginForm("FAQ", "Configuration", FormMethod.Post)))
        {
            <div class="col-8 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="panel panel-primary ">
                            <div class="panel-heading" id="panelheading">Add FAQ's</div>
                            <div class="panel-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Title</label>
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title" })
                                        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Date</label>
                                        @Html.TextBoxFor(x => x.Date, new { @class = "form-control", @placeholder = "", @type = "date" })
                                        @Html.ValidationMessageFor(x => x.Date, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label>Description</label>
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @placeholder = "Description" })
                                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                                    </div>

                                    @*<div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>CreatedBy</label>
                                            @Html.TextBoxFor(x => x.CreatedBy, new { @class = "form-control", @placeholder = "CreatedBy" })
                                            @Html.ValidationMessageFor(x => x.CreatedBy, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-button">
                <div class="col-sm-8">
                    <div class="row float-right">
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                        <div class="form-group col-md-4">
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </div>
                    </div>
                </div>

                </div>
                }

            </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

