@model IEnumerable<OCMDomain.Repository.Edmx.OnlineCourseTble>
@{
    ViewData["Title"] = "MyCourses";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Registration</title>
    <style>
        body {
            background-color: lightcyan;
        }

        .container {
            margin-top: 40px;
            background-color: white;
        }

        .form-row {
            margin-top: 20px;
        }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #337AB7;
            border-color: #337AB7;
            margin-bottom: 20px;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        button {
            margin: 20px;
        }

        .card {
            border: none;
        }

        .Fee {
            margin-top: 25px;
            padding: 25px;
            display: none;
            color: #fff;
            border: 1px solid grey;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3 style="margin-left: 30px; margin-top: 10px;">My Courses</h3>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="panel panel-primary ">
                        <div class="panel-heading" id="panelheading">Physical Courses</div>
                        <div class="panel-body">
                            <table id="User1" class="display">
                                <thead>
                                    <tr>
                                        <th>SER NO</th>
                                        <th>Course Name</th>
                                        <th>Course Code</th>
                                        <th>Batch Name</th>
                                        <th>Assigned Teacher</th>
                                        @*<th>Course Date</th>*@
                                        <th>Total Seats</th>
                                        @*<th>Teacher Name</th>*@
                                        <th>Class</th>
                                        @*<th>Action</th>*@
                                    </tr>
                                </thead>
                                @{int j = 1;}
                                <tbody>
                                    @foreach (var course in Model)
                                    {
                                        if (course.CourseType == "Physical")
                                        {
                                            <tr>
                                                <td>@j</td>
                                                <td>@course.Name </td>
                                                <td>@course.Code</td>
                                                <td>@course.CourseQuota.BatchName</td>
                                                @if (course.AssignTeacher != null)
                                                {
                                                    <td>@course.AssignTeacher.TeacherName</td>
                                                }
                                                else
                                                {
                                                    <td>Not Assigned Yet</td>
                                                }
                                                @*<td>@course.CourseQuota.CreateDate</td>*@
                                                <td>@course.CourseQuota.NoofStudents</td>
                                                @*<td>@course.AssignTeacher.TeacherName</td>*@
                                                <td>
                                                    <a href="@Url.Action("UploadedLectureMaterial","Student", new {Id = course.OnlineCourseId})"> Go To Class </a>
                                                </td>
                                               


                                                @*<a href="@Url.Action("LectureMaterial", "Teachers",new { @id=Model.OCT.O"> </td>*@
                                                @*<td><a href="@Url.Action("MyCourseDescription","Teachers",new { @id=course.OnlineCourseId})"> Description </a></td>*@
                                            </tr>
                                        }
                                        j++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="panel panel-primary ">
                        <div class="panel-heading" id="panelheading">Online Courses</div>
                        <div class="panel-body">
                            <table id="User2" class="display">
                                <thead>
                                    <tr>
                                        <th>SER NO</th>
                                        <th>Course Name</th>
                                        <th>Course Code</th>
                                        <th>Batch Name</th>
                                        <th>Assigned Teacher</th>
                                        @*<th>Course Date</th>*@
                                        <th>Total Seats</th>
                                        @*<th>Teacher Name</th>*@
                                        <th>Class</th>
                                        @*<th>Action</th>*@
                                    </tr>
                                </thead>
                                @{int i = 1;}
                                <tbody>
                                    @foreach (var course in Model)
                                    {
                                        if (course.CourseType == "Online")
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@course.Name </td>
                                                <td>@course.Code</td>
                                                <td>@course.CourseQuota.BatchName</td>
                                                @if (course.AssignTeacher != null)
                                                {
                                                    <td>@course.AssignTeacher.TeacherName</td>
                                                }
                                                else
                                                {
                                                    <td>Not Assigned Yet</td>
                                                }

                                                @*<td>@course.CourseQuota.CreateDate</td>*@
                                                <td>@course.CourseQuota.NoofStudents</td>
                                                <td>
                                                    <a href="@Url.Action("UploadedLectureMaterial","Student", new { Id = course.OnlineCourseId})"> Go To Class </a>
                                                </td>

                                            </tr>
                                        }
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!--Bootstrapp Toggle-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @section scripts{
        <script>
            $(document).ready(function () {
                $('#User1').DataTable({
                    "Processing": true,
                    "Filter": true
                });
                $('#User2').DataTable({
                    "Processing": true,
                    "Filter": true
                });
                //Toggle Button
            });</script>
    }
</body>
</html>
