@model OCMDomain.Repository.Edmx.CourseScheduleTble
@{
    ViewData["Title"] = "TimeTable";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}




<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Js Stylesheet -->
    <script src="~/public/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <title>Time Table</title>
    <style>
        body {
            background-color: lightcyan;
        }

        .container {
            margin-top: 40px;
            background-color: white;
        }

        .form-row {
            margin-top: 20px;
        }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #337AB7;
            border-color: #337AB7;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        button {
            margin: 20px;
        }

        .card {
            border: none;
        }

        .Fee {
            margin-top: 25px;
            padding: 25px;
            display: none;
            color: #fff;
            border: 1px solid grey;
        }
    </style>
</head>
<body>
    @if (TempData["response"] != null)
    {
        <script>
    $(document).ready(function () {
        var success = '@((TempData["response"] != null).ToString())';
        if (success == 'false' || success == false) {
        } else {
            toastr.success('@TempData["response"].ToString()')
        }
    });
        </script>
    }
    <div class="container">
        <h3 style="margin-left: 30px; margin-top: 10px;">TimeTable</h3>
        @using (Html.BeginForm(Html.BeginForm("TimeTable", "Courses", FormMethod.Post)))
        {
            @Html.HiddenFor(m => m.CourseId)
            @Html.HiddenFor(m => m.TimeTableId)
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="panel panel-primary ">
                            <div class="panel-heading" id="panelheading">Add Schedule</div>
                            <div class="panel-body">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>StartDate</label>
                                        @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control", @placeholder = "StartDay", @type = "date" })
                                        @Html.ValidationMessageFor(x => x.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>EndDate</label>
                                        @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control", @placeholder = "EndDate", @type = "date" })
                                        @Html.ValidationMessageFor(x => x.EndDate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Break Time</label>
                                        @Html.TextBoxFor(x => x.BreakTime, new { @class = "form-control", @placeholder = "BreakTime" })
                                        @Html.ValidationMessageFor(x => x.BreakTime, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Day</label>
                                        @Html.TextBoxFor(x => x.CourseTimeLine.Day, new { @class = "form-control", @placeholder = "Day" })
                                        @Html.ValidationMessageFor(x => x.CourseTimeLine.Day, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Starting Time</label>
                                        @Html.TextBoxFor(x => x.CourseTimeLine.StartingTime, new { @class = "form-control", @placeholder = "StartingTime", @type = "time" })
                                        @Html.ValidationMessageFor(x => x.CourseTimeLine.StartingTime, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Ending Time</label>
                                        @Html.TextBoxFor(x => x.CourseTimeLine.EndingTime, new { @class = "form-control", @placeholder = "EndingTime", @type = "time" })
                                        @Html.ValidationMessageFor(x => x.CourseTimeLine.EndingTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-button" style="padding-left: 25px; float:right;">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        }
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>