@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!--Table Grid-->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Bootstrapp Toggle-->


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="~/public/js/jquery.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


@if (TempData["response"] != null)
{
    <script>
        $(document).ready(function() {
            var success = '@((TempData["response"] != null).ToString())';
            if (success == 'false' || success == false) {
            } else {
                toastr.success('@TempData["response"].ToString()')
            }
        });
    </script>
}
<head>
    <style>
        .swal-modal {
            background: lightblue;
        }

        .swal-button--yes {
            background: darkslateblue;
        }

        .swal-button--no {
            background: darkslateblue;
        }
    </style>
</head>



<div class="table-content" style="padding:20px">
    <h3 class="h3center">All Existing Users</h3>


    <br />
    <br />
    <table id="User" class="display">
        <thead>
            <tr>
                <th>SER NO</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Role Name</th>
                <th>Action</th>
            </tr>
            @{int i = 1;}
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.RoleName
                    </td>
                    <td>
                        @if (item.Id == ViewBag.CurrentUserID)
                        {

                        }
                        else
                        {
                            <a href='@Url.Action("UpdateProfile", "UsersManagement", new { id = item.Id })': null" class="btn btn-link btn-warning edit btnUpdates d-none"" style="color:maroon"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-link btn-warning edit btnupdate" style="color:maroon"><i class="fa fa-edit"></i></a>

                            <a class="btn btn-link btn-danger remove btnremove d-none" style="color:maroon" href='@Url.Action("DeleteUser", "UsersManagement", new { id = item.Id })' : null"><i class="fa fa-times"></i></a>
                            <a class="btn btn-link btn-danger remove btndelete" style="color:maroon"><i class="fa fa-times"></i></a>
                        }
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#User').DataTable({
                "Processing": true,
                "ServerSide": false,
                "Filter": true
            })
        });
    </script>
}

<script>
    $(".btndelete").click(function (e) {
        e.preventDefault();
        swal("Are you sure to delete?", {
            buttons: {
                yes: {
                    text: "Yes",
                    value: "yes"
                },
                no: {
                    text: "No",
                    value: "no"
                }
            }
        }).then((value) => {
            if (value == "yes") {
                debugger;
                $(this).parent().find(".btnremove").get(0).click();
            }
            return false;
        });
    });
</script>

<script>
    $(".btnupdate").click(function (e) {
        e.preventDefault();
        swal("Are you sure you want to update?", {
            buttons: {
                yes: {
                    text: "Yes",
                    value: "yes"
                },
                no: {
                    text: "No",
                    value: "no"
                }
            }
        }).then((value) => {
            if (value == "yes") {
                debugger;
                $(this).parent().find(".btnUpdates").get(0).click();
            }
            return false;
        });
    });
</script>