@model IEnumerable<OCMDomain.Repository.Edmx.InstallmentPlanTble>
@{
    ViewData["Title"] = "InstallmentPlan";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<!--Table Grid-->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Bootstrapp Toggle-->

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link href="~/css/toggle.css" rel="stylesheet" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="~/public/js/jquery.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/js/toastr.js"></script>
<link href="~/css/toggle.css" rel="stylesheet" />

@if (TempData["response"] != null)
{
    <script>
    $(document).ready(function () {
        var success = '@((TempData["response"] != null).ToString())';
        if (success == 'false' || success == false) {

        } else {
            toastr.success('@TempData["response"].ToString()')
        }
    });
    </script>
}

<script>
    function ConfirmReject() {
        return confirm('Are you sure you want to reject?');
    }
    function ConfirmApprove() {
        return confirm('Are you sure you want to approve?');
    }
</script>

<div class="table-content" style="padding:20px">
    <h3 style="margin-top:20px;">Fee Insallment Of Students</h3>


    <br />
    <br />
    <table id="User" class="display">
        <thead>
            <tr>
                <th>SER NO</th>
                <th>Insatllment Date</th>
                <th>Status</th>
                <th>Next Installment</th>
                <th>Download Challan</th>
                @*<th>CourseName</th>*@
            </tr>
            @{int i = 1;}
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@Html.FormatValue("dd/MM/yyyy", item.InstallmentDate?.ToString("dd/MM/yyyy"))</td>
                    <td>
                        @if (item.Ispaid == true)
                        {
                            <span>
                                Installment is paid
                            </span>
                        }
                        else
                        {
                            <span>
                                Installment not paid
                            </span>
                        }
                    </td>

                    <td>@Html.FormatValue("dd/MM/yyyy", item.NextInstallmentDate?.ToString("dd/MM/yyyy"))</td>
                    <td>
                        @if (item.Ispaid == true)
                        {
                            <a class="btn btn-primary" href=@item.ChallanFormPath download>Challan</a>
                        }
                        else
                        {
                    <a class="btn btn-danger" href=@item.ChallanFormPath download>Challan</a>
                        }

                    </td>
                    @*<td>@item.co </td>*@
                </tr>
                i++;
            }

        </tbody>
    </table>
</div>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#User').DataTable({
                "Processing": true,
                "ServerSide": false,
                "Filter": true
            })
        });
    </script>
    <script>
        function ToggleFeePay(event, Getcheckid) {
            Status = $(event).prop('checked') ? true : false;
                    $.ajax({
                        url: '@Url.Action("CheckFee", "Accounts")',
                        type: "POST",
                        data: {
                            id: Getcheckid,
                            status: Status
                        },
                        success: function (response) {
                            toastr.success("Fee Approved Successfully");
                        },
                        error: function (response) {
                            console.log(response);

                        }
                    });
                }
    </script>
}

